:root {
  --black: black;
  --lightBrown: #ffc000;
  --beigeWood: #e2ddd396;
  --beige: #ffdf7d8a;
  --greenLeaf: #22d21f;
  --greyShadow: #747272b7;
  --correctGreen: #20aa20;
  --brightGreen: #22d21f;
  --fadedBlue: #01355385;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: var(--black);
  width: 100vw;
  height: 100vh;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/wooden-surface.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

/* Header and Input section */

header {
  font-size: 80%;
  text-align: center;
}

#user-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 60%;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 0.75rem;
}

#feedback-text {
  font-size: 170%;
}

/*  Quiz area  */

#quiz-container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 80%;
  padding: 15px;
  border-radius: 8px;
  color: var(--black);
  background-color: var(--beigeWood);
  box-shadow: 5px 10px 8px 10px #747272b7;
}

#answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question {
  display: flex;
  justify-content: center;
  background-color: var(--lightBrown);
  border-radius: 8px;
  font-weight: bold;
  border: 2px groove;
  color: var(--black);
  padding: 20px;
  font-size: 100%;
}

button.answer-button {
  justify-content: center;
  width: 75%;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  color: var(--black);
  font-weight: bold;
  background-color: var(--beige);
  box-shadow: 0px 3px 0px 3px #747272b7;
  cursor: pointer;
}

/* Control buttons and score area */

#control-buttons {
  display: flex;
  align-self: center;
}

#start-button,
#reload-button,
#next-button {
  font-size: small;
  font-weight: bold;
  margin: 1rem;
  background-color: var(--greenLeaf);
  padding: 0.7rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.score-card {
  display: flex;
  align-self: center;
  width: 100%;
  padding: 10px;
  line-height: 1;
  font-size: 15px;
}

.score-card span {
  display: flex;
  align-self: center;
  background-color: var(--greenLeaf);
  padding: .6rem;
  border: none;
  color: black;
  border-radius: 8px;
}

/* Modal  */

.alert-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

#modal-message {
  font-size: 1.25rem;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  background-color: var(--fadedBlue);
  border-radius: 0.5rem;
  color: var(--brightGreen)
}

#modal-message.active {
  display: block;
}